<a href="/admin/categorias"><button class="btn btn-primary">Categorias</button></a>

<a href="/admin/postagens"><button class="btn btn-primary">Posts</button></a>


<br>
  <br>
    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
                <br>
                  <br>
                  <br>
                <br>
              <br>
            <br>
          <br>
        <br>
      <br>
    <br>
  <br>
<br>

 