 <!-- footer / rodapé-->

<div class="card" style="margin-top: 500px;">
  <div class="card-body" style="background-color: black; color: white;">
    

   <spam style="margin-left: 180px"><a href="/" style="background-color: black; color: white;">Home</a></spam>

   <spam style="margin-left: 60px"><a href="/categorias" style="background-color: black; color: white;">Categorias</a></spam>

   <spam style="margin-left: 60px"><a href="/usuarios/login" style="background-color: black; color: white;">Login</a></spam>

   <spam style="margin-left: 60px"><a href="/usuarios/registro" style="background-color: black; color: white;">Registro</a></spam>

   <spam style="margin-left: 60px"><a href="/manossolfa" style="background-color: black; color: white;">Manossolfa</a></spam>

   <spam style="margin-left: 60px"><a href="/contato" style="background-color: black; color: white;">Contato</a></spam>

   <spam style="margin-left: 60px"><a href="/admin" style="background-color: black; color: white;">Configurações</a></spam>


   <br>
   <br>     


<div class="card-body" style="text-align: center">copyright &#169; 2020-2025. Thiago Sales - PPGCCA/UFPB. Todos os direitos reservados.</div>
  </div>
</div>