<h3>Teoria Aula 05</h3>

                    <br/>
                    <br/>

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH9PDiqhCZKVqRZmMtJZQYj-0KzZqRzVsobQ&usqp=CAU" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>


                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Duração dos valores</h5>

                    <br/>

                    <p> A Semibreve é a figura de nota considerada como inteiro. 
                        As demais notas são frações da Semibreve.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                        <img src="https://3.bp.blogspot.com/-pxF1nPtW3-c/WMtIoxa8uYI/AAAAAAAAKKw/IHmShHEefKAuSGpCNXZ7SffSnnfSSjBAACLcB/s1600/Divis%25C3%25A3oProporcionalValores.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Compasso</h5>

                    <br/>

                    <p> Uma música pode ser dividida em partes menores
                         chamadas de compasso.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Tempos</h5>

                    <br/>

                    <p> Cada compasso pode ser dividido em partes menores chamadas
                        de tempos.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Barras de compasso</h5>

                    <br/>

                    <p> As barras de compasso são linhas verticais utilizadas
                        para separar os compassos.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    <img src="http://3.bp.blogspot.com/-c4rXy9Uxqx0/T11EStFFyqI/AAAAAAAAAKo/_P3HsYNBOE8/s1600/Barras_Simples.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 300px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

                        <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Barra dupla ou Travessão duplo</h5>

                    <br/>

                    <p> A barra dupla ou travessão duplo serve para indicar alterações
                        de uma música.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    <img src="http://img.comunidades.net/aar/aartedamusica/exemplo_de_compassos_2.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 180px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>


                        <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Pausa final</h5>

                    <br/>

                    <p> A pausa final indica que a música chegou ao fim.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    <img src="https://3.bp.blogspot.com/-3f8XD2di1Cs/VvXZsCKy8hI/AAAAAAAACtY/9VuVKgDXuGQTCq5w1H2k_OKcPfnOcarQw/s1600/Music-endbar.png" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:300px; height: 100px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

<div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Compassos Simples</h5>

                    <br/>

                    <p> São compassos de 2, 3 e 4 tempos.
                    </p>
                    <p>
                        <ul>
                            <li>2 tempos: compasso binário</li>
                            <li>3 tempos: compasso ternário</li>
                            <li>4 tempos: compasso quaternário</li>
                        </ul>
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                        <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Compasso Binário</h5>

                    <br/>

                    <p> O compasso binário possui 2 tempos. É um compasso muito comum
                        em ritmos como frevo, marcha, etc.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                    
                    <img src="http://3.bp.blogspot.com/-4aFVYpGICCc/UiJkumD4OiI/AAAAAAAAAYg/Y6HXKSJVMWc/s1600/b-simples.PNG" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:400px; height: 200px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>



<h2>Atividades: </h2>
                    <br/>
                    <br/>

                    <div class="card" style="width: 800px; background-color: lightgrey">
                        <div class="card-body">
                    
                    <p>1) O que é um compasso?</p>
                    <p>2) O que são tempos?</p>
                    <p>3) Para que servem as barras de compasso?</p>
                    <p>4) Quais são os compassos simples?</p>
                    <p>5) O compasso de 2 tempos (binário) é comum em quais ritmos?</p>

                </div>
                </div>

