<h3>Teoria Aula 03</h3>

                    <br/>
                    <br/>

                    <img src="https://wallpaperaccess.com/full/1162775.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>


                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Figuras de pausa</h5>

                    <br/>

                    <p>As figuras de pausa são sinais que indicam a duração de silêncio. Elas
                        também pode ser chamadas de "valores negativos", e conforme sua duração,
                        recebem forma e nomes diferentes. Os nomes das figuras de pausa são os mesmos
                        das figuras de notas.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                        <img src="https://blog.opus3ensinomusical.com.br/wp-content/uploads/2018/02/figuras-de-som-e-pausas.jpg"
                                style="width: 500px; height:500px"/>

                        <br/>
                        <br/>

                        
                        <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Figuras de pausa</h5>

                    <br/>

                    <p>A pausa da semibreve fica abaixo da 4ª linha e a pausa da
                        mínima colocamos acima da 3ª linha.
                    </p>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <h5>Notas da escala de dó maior.</h5>

                    <img src="https://4.bp.blogspot.com/-E6QpIM2RRIk/T4QpOPnZLLI/AAAAAAAAAFM/k_582aCvMzs/s1600/diato_do_maior.jpg"
                         style="width: 750px; height:200px"/>


                    <br/>
                    <br/>


                    <h2>Atividades: </h2>
                    <br/>
                    <br/>

                    <div class="card" style="width: 800px; background-color: lightblue">
                        <div class="card-body">
                    
                    <p>1) O que são figuras de pausa?
                        <br/>
                        <br/>

                        2) Qual é o outro nome das figuras de pausa?
                        
                        <br/>
                        <br/>

                        3) Diga os nomes das figuras de pausa pela ordem apresentada.

                        <br/>
                        <br/>

                        4) Onde é colocada a pausa da semibreve?

                        <br/>
                        <br/>

                        5) Onde é colocada a pausa da mínima?
                        
                        <br/>
                        <br/>
                        
                        Tire a foto da atividade e mande no grupo do whatsapp.
                        O prazo de entrega é 15/01/2021. Bons estudos!
                    </p>
                </div>
                </div>








