<h3>Teoria Aula 01</h3>

<br/>

                    <img src="https://radios.ebc.com.br/festivaldemusica/sites/_festivaldemusica/files/field/image/2019_05_17_festivalmecfm_carrossel_1925x1270_fm.png" className="teoria-img-01"/>
                    <h6>O que é música?</h6>

                    <p>Podemos dizer que a música é a arte de combinar os sons.
                    Mas como? De que forma? Quais são os meios? Existem 3 elementos
                    que formam os pilares da música ocidental, são eles: harmonia,
                    melodia e ritmo.</p>

                    <h6>Melodia</h6>

                    <p>A melodia é a combinação de sons sucessivos, ou seja, um depois
                        do outro.
                        <br/><br/>

                        <img src="https://4.bp.blogspot.com/-E6QpIM2RRIk/T4QpOPnZLLI/AAAAAAAAAFM/k_582aCvMzs/s1600/diato_do_maior.jpg"/>

                        <br/><br/>

                        Ex.: Na Música "Hanawa Saku ou Flowers Will Bloom" logo abaixo, a flauta toca a melodia. 
                    </p>
                    <br/>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0Hn76Fdcbdo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <br/><br/>

                    <h6>Harmonia</h6>
                    <br/>
                    <p>A Harmonia é a combinação de sons simultâneos, ou seja, ao mesmo tempo.</p>    
                    
                    <img src="https://aprendateclado.com/wp-content/uploads/2016/12/campo-harmonico-para-iniciantes.gif"/>

                    <p>Ex.: No 2° movimento da Sonata Patética de L.V. Beethoven
                        temos um ótimo exemplo de harmonia onde as notas são
                        tocadas em "blocos", ou seja, ao mesmo tempo.</p>
                    <br/><br/>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/n2nG1bt7IBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <br/><br/>

                     <h6>Ritmo</h6>   
                    <br/>
                    <p>Já o Ritmo é a combinação de sons ordenados no tempo. 
                        Calma, eu explico:<br/>

                        Uma das propriedades do som é a duração, onde o som pode ser
                        curto ou longo.
                    </p>

                    <p>Como exemplo de som curto temos um efeito 
                        sonoro do jogo Super Mario World:
                    </p>
                     <br/>   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5828svR7Y6A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br/><br/>

                    <p>Como exemplo de som longo temos um trecho da 
                        música galopeira:
                    </p>
                     <br/>    

                     <iframe width="560" height="315" src="https://www.youtube.com/embed/nPXbKO8lmFs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <br/><br/>

                    <p>
                        A combinação de durações de sons curtos e longos
                        no tempo, vão dar origem a ritmos como samba, salsa,
                        baião, e outros.
                    </p>


                    <h6>Samba</h6>
                    <br/>  

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_WjpYxwz2fI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    

                     <br/>
                     <br/>

                     <h6>Baião</h6>
                    <br/>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YS9YIQY-9AA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                    <br/><br/>

                    <h6>Blues</h6>
                    <br/>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xsBnf-gbWfI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   

                    <br/>

                    <p>De origem Afro-Americana, o Blues deu origem ao Rock,<br/>
                    à música Country, ao Jazz e ao GOSPEL!!! </p>
                    <br/>


                    <h2>Atividades: </h2>
                    <br/><br/>

                    <p>1) Faça uma pesquisa sobre as origens da música Gospel.
                            Faça um resumo de até 10 linhas.<br/>

                            <br/><br/>

                        2) O que é Música, Harmonia e Ritmo?
                        
                        <br/><br/>
                        
                        Tire a foto do resumo e mande no grupo do whatsapp.
                    </p>