<h3>Teoria Aula 02</h3>

                    <br/>
                    <br/>

                    <img src="https://images2.alphacoders.com/434/thumb-1920-434517.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Figuras de notas</h5>

                    <br/>

                    <p>As figuras de notas são sinais que indicam a duração dos sons. Elas
                        também pode ser chamadas de "valores positivos", e conforme sua duração,
                        recebem forma e nomes diferentes.
                    </p>
                        </div>
                    </div>
                    
                        <br/><br/>

                        <img src="https://avancandonamusica.com.br/wp-content/uploads/2019/10/Figuras-de-notas-na-partitura-e-suas-divis%C3%B5es.jpg"
                                style="width: 500px; height:500px"/>

                        <br/><br/>

                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">

                    <p>As figuras de notas são formadas por: cabeça, haste e colchete.
                    </p>

                        </div>
                    </div>

                      <br/><br/>

                        <img src="https://violaogospel.com/wp-content/uploads/2017/06/figura-de-notas-1.jpg"
                                style="width: 400px; height:400px"/>

                        <br/><br/>


                    <div class="card" style="margin-right: 400px; background-color: rgb(0,255,0)">
                        <div class="card-body">

                     <h5>Atividades: </h5>       
                        <br/>
                        
                    <p>1) Escreva as notas e seus respectivos nomes na pauta musical: <br/><br/>
                       2) Escreva as figuras de notas e seus nomes. (Semibreve, etc.)<br/><br/>
                       3) Quais são as partes das figuras de notas?  
                    </p>

                        </div>
                    </div>

                      <br/><br/>

                      <img src="https://i.ibb.co/Wp12pZN/Atividade-aula-02-1.png"
                                style="width: 800px; height:1200px"/>