<h3>Teoria Aula 04</h3>


                    <br/>
                    <br/>

                    <img src="https://www.agenciaaddress.com/wp-content/uploads/2015/01/copertina2-600x408.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>


                    <div class="card" style="margin-right: 400px;">
                        <div class="card-body">
                        
                    <h5>Clave de fá</h5>

                    <br/>

                    <p>A clave de fá pode ser colocada na 3ª ou na 4ª linha do pentagrama.
                        Aqui vamos utilizar apenas a clave de fá na 4ª linha.
                    </p>
                        </div>
                    </div>
                    
                        <br/>
                        <br/>

                        <img src="https://1.bp.blogspot.com/-6IVv5LRtulA/XWU58f-eBuI/AAAAAAAABag/YTQ0ODxugToeC5boiLoJIt4aU05M3qSfgCLcBGAs/s1600/Clave%2Bde%2BF%25C3%25A1%2B-%2B60k.png" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 400px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <img src="https://teoriamusicalemfoco.com.br/wp-content/uploads/2016/04/notas-musicais-clave-de-f%C3%A1-2.jpg" 
                    className="teoria-img-01"
                    style="border-radius: 5px;
                    width:700px; height: 200px"/>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

<h2>Atividades: </h2>
                    <br/>
                    <br/>

                    <div class="card" style="width: 800px; background-color: lightblue">
                        <div class="card-body">
                    
                    <p>1) Qual é o nome da nota que está na 4ª linha da clave de fá?
                        <br/>
                        <br/>

                        2) Qual é o nome da nota que está na 2ª linha?
                        
                        <br/>
                        <br/>

                        3) Escreva os nomes das notas que estão localizadas nas linhas.

                        <br/>
                        <br/>

                        4) Escreva os nomes das notas que estão localizadas nos espaços.

                        <br/>
                        <br/>

                        5) Qual é o nome da nota escrita na 3ª linha da clave de fá. Em seguida,
                        escreva o nome da nota que está na 3ª linha da clave de sol.
                        
                        <br/>
                        <br/>
                        
                        Tire a foto da atividade e mande no grupo do whatsapp.
                        O prazo de entrega é 15/01/2021. Bons estudos!
                    </p>
                </div>
                </div>

