<h2 style="text-align: center; text-align: center;
  background: linear-gradient(to right, #ffff00 0%, #ff6600 100%);
  border-radius: 5px" 
  class="card">Teclado</h2>

<br/><br/>

<div class="card" style="background-color: rgb(230,230,230); border-radius: 10px">
    <div class="card-body">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                        <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula1" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-left: 0px;">Aula 01</a>
                        <br/>
                         
                         <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula2" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-top: 5px;">Aula 02</a>           
                        
                    </div>

                    <div class="col-sm">
                        <a class="btn btn-dark btn-lg" 
                    href="/teclado/aula3" 
                    role="button" 
                    id="dash-curso-percepcao" 
                    style="margin-left: 0px">Aula 03</a>
                    <br/>
                         
                         <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula4" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-top: 5px;">Aula 04</a>
                    </div>

                    <div class="col-sm">
                        <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula5" 
                        role="button" 
                        id="dash-curso-dark">Aula 05</a>
                        <br/>
                         
                         <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula6" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-top: 5px;">Aula 06</a>        
                    </div>

                    <div class="col-sm">
                        <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula7" 
                        role="button" 
                        id="dash-curso-violao">Aula 07</a>
                        <br/>
                         
                         <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula8" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-top: 5px;">Aula 08</a>        
                    </div>

                    <div class="col-sm">
                        <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula9" 
                        role="button" 
                        id="dash-curso-violao">Aula 09</a>
                        <br/>
                         
                         <a class="btn btn-dark btn-lg" 
                        href="/teclado/aula10" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-top: 5px;">Aula 10</a>        
                    </div>
                




            </div>
        </div>
    </div>
</div>