<h1 style="text-align:center" class="card">Ajuda</h1>

<div class="card">
    <div class="card-body">

        <h5>Acesso pelo Celular: </h5></br>

        <h5>
            <ul>
                <li>Passo 1: Clique no botão no canto superior direito da tela.</li></br>
                <li>Passo 2: Clique em Login, digite seu email e senha.</li></br>
                <li>Passo 3: Clique novamente no botão no canto superior direito da tela.</li></br>
                <li>Passo 4: Clique em Cursos</li></br>
                <li>Passo 5: Clique no link do curso desejado.</li>
            </ul>
        </h5>

    </div>
</div>

</br>

<div class="card">
    <div class="card-body">

        <h5>Acesso pelo Computador: </h5></br>

        <h5>
            <ul>
                <li>Passo 1: Clique em Login, digite seu email e senha.</li></br>
                <li>Passo 2: Clique no link Cursos na barra de navegação azul.</li></br>
                <li>Passo 5: Clique no link do curso desejado.</li>
            </ul>
        </h5>

    </div>
</div>
