<h2 style="text-align: center; text-align: center;
  background: linear-gradient(to right, #ffff00 0%, #ff6600 100%);
  border-radius: 5px" 
  class="card">Dashboard de Cursos</h2>

<br/><br/>

<!--botões cursos-->
<div class="card" style="background-color: rgb(230,230,230); border-radius: 10px;">
    <div class="card-body">
        <div class="container">
            <div class="row">

                <!--curso teoria-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; border-radius:10px">
                        <div class="card-body">
                         <img src="https://s1.1zoom.me/big0/542/Roses_Piano_Three_3_Red_532024_1280x932.jpg" 
                              style="width: 150px; 
                                     border-radius:5px;
                                     margin-left: 5px"><br/><br/>   
                        <a class="btn btn-dark btn-lg" 
                        href="/teoria" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-left: 30px">Teoria</a>     
                        <br/>        
                      </div>    
                    </div>
                </div>

                    <!--curso percepção-->
                    <div class="col-sm">
                    <div class="card" style="width: 192px; border-radius:10px">
                        <div class="card-body">
                         <img src="https://blog.fritzdobbert.com.br/wp-content/uploads/2017/05/Artigo50-4-1.png" 
                              style="width: 160px; border-radius:5px"><br/><br/>   
                        <a class="btn btn-dark btn-lg" 
                        href="/percepcao" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-left: 11px">Percepção</a>     
                        <br/>        
                      </div>    
                    </div>
                </div>


                <!--curso teclado-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; border-radius:10px">
                        <div class="card-body">
                         <img src="https://wallpapersfull.com/wallpapers/2019/teclado-musical-wallpaper-5570.jpg" 
                              style="width: 153px; 
                                     border-radius:5px;
                                     margin-left:2px"><br/><br/>   
                        <a class="btn btn-dark btn-lg" 
                        href="/teclado" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-left: 20px">Teclado</a>     
                        <br/>        
                      </div>    
                    </div>
                </div>

                <!--curso Violão-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; border-radius:10px">
                        <div class="card-body">
                         <img src="https://image.freepik.com/fotos-gratis/retrato-de-menina-bonita-violao-jogo-com-bicicleta-em-natureza_1150-12842.jpg" 
                              style="width: 150px; 
                                     border-radius:5px;
                                     margin-left: 4px"><br/><br/>   
                        <a class="btn btn-dark btn-lg" 
                        href="/violao" 
                        role="button" 
                        id="dash-curso-teoria" 
                        style="margin-left: 30px">Violão</a>     
                        <br/>        
                      </div>    
                    </div>
                </div>
                <!--colocar outros cursos aqui-->
            </div>
        </div>
    </div>
</div>
<br/>












